%%time

# IMPORT CSV
import pandas as pd

df = pd.read_csv('./all/train.csv', nrows=5)

#%%time

#SAVE AS FEATHER
#import feather

#df.to_feather('./all/train.feather')

In [3]:
%%time
import pandas as pd

df = pd.read_feather('./all/train.feather')

Wall time: 46.3 s

In [4]:
# CHECK FOR INVALID COORDINATES (outside of NYC range)
# determined with https://www.mapdevelopers.com/geocode_bounding_box.php

def valid_coordinates(lat_list, lon_list):
    for i in lat_list:
        if i < 40.477399 or i > 40.917577:
            return False
    for i in lon_list:
        if i < -74.259090 or i > -73.700272:
            return False
    return True

def clean_coordinates(df):
    df.query('~(pickup_latitude < 40.477399 or pickup_latitude > 40.917577) &\
              ~(dropoff_latitude < 40.477399 or dropoff_latitude > 40.917577) &\
              ~(pickup_longitude < -74.259090 or pickup_longitude > -73.700272) &\
              ~(dropoff_longitude < -74.259090 or dropoff_longitude > -73.700272)', inplace=True)

In [5]:
# REMOVE INVALID PASSENGER COUNTS AND FARES, DROPNA

def clean_pfd(df):
    df.dropna(inplace=True)
    df.query('passenger_count > 0 & fare_amount > 0', inplace=True)

In [6]:
# CALCULATE EUCLIDEAN DISTANCE

from scipy.spatial import distance

def euclidean_distance(x1, y1, x2, y2):
    return ((x1-x2)**2 + (y2-y1)**2)**0.5

def add_euclidean_distance(df):
    df['euclidean_distance'] = euclidean_distance(df['pickup_latitude'], df['pickup_longitude'], 
                                                  df['dropoff_latitude'], df['dropoff_longitude'])

# EXTRACT DATE/TIME VALUES

#df['day'] = df.apply(lambda row: pd.to_datetime(row['pickup_datetime']).day, axis=1)
#df['month'] = df.apply(lambda row: pd.to_datetime(row['pickup_datetime']).month, axis=1)
def add_dmh(df):
    df['hour'] = df.apply(lambda row: pd.to_datetime(row['pickup_datetime']).hour +\
                                     (pd.to_datetime(row['pickup_datetime']).minute / 60), axis=1)

In [7]:
def preprocess(df, training=True):
    if training:
        clean_pfd(df)
        clean_coordinates(df)
    add_euclidean_distance(df)
    #add_dmh(df)

import matplotlib.pyplot as plt
%matplotlib inline

# CORRELATION(EUCLIDEAN DISTANCE, FARE AMOUNT)

corr = df['euclidean_distance'].corr(df['fare_amount'])
plt.figure(figsize=(12,12))
plt.scatter(df['euclidean_distance'], df['fare_amount'], alpha=0.25)
plt.title('CORRELATION(EUCLIDEAN DISTANCE, FARE AMOUNT)\n = {0}'.format(corr), fontsize = 20)
plt.xlabel('Euclidean Distance', fontsize=18)
plt.ylabel('Fare Amount', fontsize=18)
plt.show()

# CORRELATION(TIME OF DAY, DISTANCE TRAVELED)

corr = df['hour'].corr(df['euclidean_distance'])
plt.figure(figsize=(12,12))
plt.scatter(df['hour'], df['euclidean_distance'], alpha=0.25)
plt.title('CORRELATION(TIME OF DAY, DISTANCE TRAVELED)\n = {0}'.format(corr), fontsize = 20)
plt.xlabel('Time of day', fontsize=18)
plt.ylabel('Euclidean distance', fontsize=18)
plt.xlim(0,24)
plt.xticks(range(0,25))
plt.grid(True)
plt.show()

# CORRELATION(TIME OF DAY, FARE AMOUNT)

corr = df['hour'].corr(df['fare_amount'])
plt.figure(figsize=(12,12))
plt.scatter(df['hour'], df['fare_amount'], alpha=0.25)
plt.title('CORRELATION(TIME OF DAY, FARE AMOUNT)\n = {0}'.format(corr), fontsize = 20)
plt.xlabel('Time of day', fontsize=18)
plt.ylabel('Fare Amount', fontsize=18)
plt.xlim(0,24)
plt.xticks(range(0,25))
plt.grid(True)
plt.show()

# PLOT FARES BY DESTINATION

plt.figure(figsize=(20,20))
plt.scatter(df['dropoff_longitude'], df['dropoff_latitude'], c=df['fare_amount'], cmap=plt.get_cmap("jet"), alpha=0.5)
colorbar = plt.colorbar()
colorbar.ax.set_ylabel('Fare Amount', fontsize=20)
plt.title('Fares by Destination'.format(corr), fontsize = 20)
plt.xlabel('Longitude', fontsize=18)
plt.ylabel('Latitude', fontsize=18)
plt.show()

In [8]:
%%time
# PREPROCESS TRAINING DATA

preprocess(df, training=True)
#

Wall time: 9min 55s

In [10]:
df.reset_index(inplace=True)
df.to_feather('./all/preprocessed_train.feather')

In [17]:
df

,index,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,euclidean_distance
0,0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,0.009436
1,1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,0.079696
2,2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,0.013674
3,3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,0.025340
4,4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,0.019470
5,5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,0.038675
6,6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1,0.014565
7,7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1,0.045146
8,8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1,0.014258
9,9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2,0.026593
10,10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50 UTC,-73.996335,40.737142,-73.980721,40.733559,1,0.016020
11,12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03 UTC,-73.991601,40.744712,-73.983081,40.744682,2,0.008520
12,13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00 UTC,-74.005360,40.728867,-74.008913,40.710907,1,0.018308
13,14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05 UTC,-74.001821,40.737547,-73.998060,40.722788,2,0.015231
14,16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00 UTC,-73.986430,40.760465,-73.988990,40.737075,1,0.023530
15,17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00 UTC,-73.981060,40.737690,-73.994177,40.728412,1,0.016067
16,18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00 UTC,-73.969505,40.784843,-73.958732,40.783357,1,0.010875
17,19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22 UTC,-73.979815,40.751902,-73.979446,40.755481,1,0.003598
18,20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00 UTC,-73.985382,40.747858,-73.978377,40.762070,1,0.015845
19,21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46 UTC,-73.957954,40.779252,-73.961250,40.758787,1,0.020729
20,22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23 UTC,-73.991707,40.770505,-73.985459,40.763671,1,0.009260
21,23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00 UTC,-74.000632,40.747473,-73.986672,40.740577,1,0.015570
22,24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00 UTC,-73.969622,40.756973,-73.981152,40.759712,1,0.011851
23,25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00 UTC,-73.991875,40.754437,-73.977230,40.774323,3,0.024697
24,27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00 UTC,-73.988893,40.760160,-73.986445,40.757857,3,0.003361
25,28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20 UTC,-73.989258,40.690835,-74.004133,40.725690,1,0.037896
26,29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00 UTC,-73.981020,40.737760,-73.980668,40.730497,2,0.007272
27,30,2014-02-19 16:03:00.000000160,5.50,2014-02-19 16:03:00 UTC,-73.976075,40.752422,-73.981082,40.759285,1,0.008495
28,31,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34 UTC,-74.010483,40.717667,-73.985771,40.660366,1,0.062402
29,32,2009-01-09 16:10:00.000000170,31.90,2009-01-09 16:10:00 UTC,-73.873027,40.773883,-73.984545,40.769545,3,0.111602
...,...,...,...,...,...,...,...,...,...,...
53993135,55423826,2009-09-13 19:00:32.0000005,16.90,2009-09-13 19:00:32 UTC,-73.991774,40.726246,-73.961746,40.713759,1,0.032521
53993136,55423827,2011-04-23 19:22:50.0000001,8.50,2011-04-23 19:22:50 UTC,-73.997023,40.752476,-74.004045,40.722456,1,0.030830
53993137,55423828,2011-09-15 00:39:09.0000002,45.00,2011-09-15 00:39:09 UTC,-73.785785,40.651328,-73.952706,40.758441,1,0.198333
53993138,55423829,2013-07-20 13:31:00.00000038,5.50,2013-07-20 13:31:00 UTC,-73.953487,40.778735,-73.963158,40.768990,1,0.013729
53993139,55423830,2012-10-13 22:17:09.0000006,4.50,2012-10-13 22:17:09 UTC,-73.970862,40.752003,-73.977449,40.742823,1,0.011299
53993140,55423831,2014-04-29 00:47:35.0000003,4.50,2014-04-29 00:47:35 UTC,-73.991732,40.760113,-73.999832,40.761372,1,0.008197
53993141,55423832,2009-08-27 18:39:00.00000067,11.30,2009-08-27 18:39:00 UTC,-73.980997,40.762858,-73.990503,40.736850,1,0.027691
53993142,55423833,2015-05-17 00:27:40.0000005,5.00,2015-05-17 00:27:40 UTC,-73.974289,40.761883,-73.982964,40.756119,3,0.010415
53993143,55423834,2010-11-15 07:12:35.0000001,5.70,2010-11-15 07:12:35 UTC,-73.978899,40.772841,-73.976237,40.758034,1,0.015044
53993144,55423835,2014-07-31 09:06:06.0000004,30.33,2014-07-31 09:06:06 UTC,-73.961712,40.756475,-73.885310,40.772831,2,0.078133
53993145,55423836,2009-02-03 00:28:08.0000001,10.20,2009-02-03 00:28:08 UTC,-73.999809,40.726766,-73.979344,40.749732,2,0.030761
53993146,55423837,2010-08-10 11:19:42.0000003,10.50,2010-08-10 11:19:42 UTC,-73.974642,40.787759,-74.001522,40.762081,1,0.037174
53993147,55423838,2011-02-09 10:07:00.00000081,13.30,2011-02-09 10:07:00 UTC,-73.979835,40.753373,-73.972572,40.793783,1,0.041058
53993148,55423839,2012-03-15 07:33:35.0000006,8.10,2012-03-15 07:33:35 UTC,-74.004183,40.738263,-73.979732,40.761805,1,0.033942
53993149,55423840,2013-06-21 17:30:00.00000024,8.00,2013-06-21 17:30:00 UTC,-73.990037,40.738550,-73.990343,40.746462,1,0.007918
53993150,55423841,2014-05-02 07:36:20.0000004,6.50,2014-05-02 07:36:20 UTC,-73.989768,40.739100,-73.986871,40.751651,1,0.012881
53993151,55423842,2014-09-22 09:00:00.00000019,16.50,2014-09-22 09:00:00 UTC,-73.977880,40.763550,-73.974020,40.743170,6,0.020742
53993152,55423843,2015-04-30 19:25:05.0000006,6.50,2015-04-30 19:25:05 UTC,-74.005333,40.728714,-73.999130,40.715801,1,0.014325
53993153,55423844,2015-06-13 20:45:19.0000001,18.00,2015-06-13 20:45:19 UTC,-73.987335,40.755325,-74.015221,40.710213,2,0.053035
53993154,55423845,2009-06-03 20:16:35.0000002,5.30,2009-06-03 20:16:35 UTC,-73.976189,40.748318,-73.979680,40.757659,1,0.009972
53993155,55423846,2010-05-28 07:49:50.0000002,11.70,2010-05-28 07:49:50 UTC,-73.947156,40.780228,-73.976806,40.758867,2,0.036543
53993156,55423847,2011-09-16 00:46:43.0000005,6.10,2011-09-16 00:46:43 UTC,-73.990946,40.736619,-73.992298,40.740316,3,0.003936
53993157,55423848,2013-05-24 00:13:36.0000004,6.00,2013-05-24 00:13:36 UTC,-73.993488,40.747372,-73.998436,40.730460,1,0.017621
53993158,55423849,2014-03-04 22:25:01.0000002,12.00,2014-03-04 22:25:01 UTC,-73.983015,40.745082,-73.954176,40.767337,1,0.036428
53993159,55423850,2015-03-22 16:37:27.0000003,4.50,2015-03-22 16:37:27 UTC,-73.981056,40.737457,-73.985474,40.729298,1,0.009279
53993160,55423851,2014-03-15 03:28:00.00000070,14.00,2014-03-15 03:28:00 UTC,-74.005272,40.740027,-73.963280,40.762555,1,0.047653
53993161,55423852,2009-03-24 20:46:20.0000002,4.20,2009-03-24 20:46:20 UTC,-73.957784,40.765530,-73.951640,40.773959,1,0.010431
53993162,55423853,2011-04-02 22:04:24.0000004,14.10,2011-04-02 22:04:24 UTC,-73.970505,40.752325,-73.960537,40.797342,1,0.046107
53993163,55423854,2011-10-26 05:57:51.0000002,28.90,2011-10-26 05:57:51 UTC,-73.980901,40.764629,-73.870605,40.773963,1,0.110690
53993164,55423855,2014-12-12 11:33:00.00000015,7.50,2014-12-12 11:33:00 UTC,-73.969722,40.797668,-73.970885,40.783313,1,0.014402

In [13]:
# FIT THE MODEL AND SCORE (TRAIN/TEST DATA)

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

model = LinearRegression()
X = df[['euclidean_distance', 'passenger_count']]
y = df['fare_amount']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

model.fit(X_train, y_train)
print('Score:', model.score(X_test, y_test))

Score: 0.15482831020065668

In [15]:
# PRINT COEFFICIENTS

for i in list(zip(X.columns, model.coef_)):
    print('{0}: {1}'.format(i[0], i[1]))

euclidean_distance: 217.02623969016372
passenger_count: 0.030791065479204738

In [18]:
# PREPROCESS ACTUAL DATA

real_df = pd.read_csv('./all/test.csv')
preprocess(real_df, training=False)

In [19]:
# FIT MODEL TO ACTUAL DATA

real_X = real_df[['euclidean_distance', 'passenger_count']]

predictions = model.predict(real_X)
data = list(zip(real_df['key'], predictions))

submission = pd.DataFrame(data, columns=['key', 'fare_amount'])
submission.set_index('key', inplace=True)

submission.to_csv('submission.csv')